@import "partial/home";
@import "partial/helper";
@import "partial/shop";
@import "partial/product";
@import "partial/singleBlog";
@import "partial/about";
@import "partial/checkout";
@import "partial/wishlist";
@import "partial/account";
@import "partial/logreg";
@import "partial/faq";
@import "partial/contact";
@import "partial/error404";

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}